@model ToDoList.Models.ToDoModel

<!-- User tasks in the panel -->
<ul class="list-group">
    <li class="list-group-item">
        <h4 id="heading_@Model.ID" class="list-group-item-heading">@Model.TaskName</h4>
        <p class="list-group-item-text">@Model.TaskDescription</p>
        <div class="list-buttons">
            <button id="@Model.ID" class="btn btn-info btn-xs">
                <i class="glyphicon glyphicon-ok"></i>
            </button>
        </div>
    </li>
</ul>
<!-- User tasks in the panel -->

<script>
    $("button.btn.btn-info.btn-xs").click(function () {
        var clickedButton = $(this);
        var id = clickedButton.attr("id");
        var headingID = "#heading_" + id;
        $.ajax({
            url: "/ToDos/MarkAsCompleted",
            type: "POST",
            data: { ID: parseInt(id) },
            success: function (result) {
                $(headingID).css("text-decoration", "line-through");
                clickedButton.css("display", "none");
            }
        });
    });
</script>


